.logo {
    width: 100px;
}

.boje {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    margin-bottom: 3px;
    margin-right: 3px;
}
.margina-mala {
    margin-top: 14px;
    margin-left: 20px;
}

.bodi {
    background-color: #ececec;
}

.navbar {
    background-color: rgb(255, 255, 255);
    padding-left: 18% !important;
    position:fixed !important;
    width: 100% !important;

    z-index: 3;
}

.trakica {
    width: auto;
    height: 63px;
    background-color: #d1d1d1;
}

.traka {
    width: auto;
    height: 5px;
}

.form-inline {
    width: 580px;
}


.glavno-clanak {
    background-color: #ffffff;
    margin-left: 16%;
    margin-right: 16%;
    margin-bottom: 1.5rem;
    padding: 1%;
}

.glavno {
    background-color: #ffffff;
    margin-left: 17%;
    margin-right: 17%;
    margin-bottom: 1.5rem;
}

.about {
    width: auto;
    height: auto;
    padding-top: 2%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 3%;
}

.gornje {
    padding: 10px;
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
}

.red {
    display: flex;
    height: 320px;
    width: 100%;
}

.ploca {
    width: auto;
    
    background-color: #ffffff;
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;

    padding: 0.65%;

    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.slike {
    width: 100%;
    height: 45%;
    object-fit: cover;
}

.podnaslov {
    width: auto;
    height: 5%;
    margin: auto;
    margin-top: 7px;
    font-weight: 650;
    font-size: 10pt;
    color: rgb(50, 158, 28)
}

.zelena {
    color: rgb(37, 165, 37);
}

.crvena {
    color: rgb(207, 37, 37);
}

.plava {
    color: rgb(47, 47, 196);
}

.narandzasta {
    color: rgb(207, 117, 13);
}

.ljubicasta {
    color: rgb(145, 39, 145);
}


.crveno {
    background-color: rgb(207, 37, 37);
}


.naslov {
    width: auto;
    height: 38%;
    margin: auto;
    margin-top: 7px;
    font-weight: 600;
    font-size: 13pt;
}

.mini {
    width: auto;
    height: 5%;
    color: #c0c0c0;
}

footer {
    margin: auto;
    height: 12%;
    width: 60%;
    text-align: center;
}

.footlist {
    list-style: none;
    color: #c0c0c0;
    text-align: left;
    margin-left: 20%;
}

.predmet {
    margin: 1.5%;
    color:#919191;
}

.futra {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.linkevi {
    text-decoration: none;
    color: black;
}

.linkevi:hover {
    text-decoration: none;
    color: rgb(94, 94, 94);
}

.linkevi:active {
    text-decoration: none;
    color: rgb(165, 165, 165);
}

.impressumpg {
    text-align: center;
}

#kloxtim {
    text-align: left;
}

#copyright {
    font-size: 10pt;
    color: #b6b6b6;
    text-align: center;
}

#impressum {
    width: 100%;
}

#kerusel {
    width: 70%;
    margin: auto;
}
